$colorVioleta: #8c52ff;
$colorVioletaOscuro: #4b0950;
$colorVioletaClaro: #f0bdff;

$colorCeleste: #72c9f4;
$colorOscuroRaro: #2b2354;
$colorRosita: #c651e6;
$colorGrisCeleste: #242e36;
$colorGrisBlanco: #dfdaf8;
